{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 18, "knowledge_revision": 36, "git_revision": "", "hash": "896ff5324b9e1b5d9e066182f5c378a6", "format-version": 4, "code-base-name": "default", "filename": "appointment_management_backend_workspace/appointment_management_backend/requirements.txt", "revision_history": [{"36": ""}]}